*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sansita", sans-serif;
}

main{
    background-color: black;
}

.cards{
    display: flex;
}


.card{
    color: white;
    border-color: rgb(68, 171, 245);
    background-color:rgb(68, 171, 245);
    padding: 5px;
    margin: 10px;
}

.card-body1{
    height: 18rem;
    text-align: center;
}

.imgDestacada {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
 }

#destacados{
    min-height: 60px;
}

footer{
    background-color: rgb(68, 171, 245);
    height: 170px;
}



#rs .wrapper-rs-icons i{
    margin-inline: 10px;

}